.input input:focus ~ label, .input input.blure ~ label {
    top: -3px;
    background-color: #fff;
    z-index: 100;
    padding-inline: 5px;
    color: #000;
    transition: ease-in-out .1s;
    font-size: 11px;
}

/*input[type="search"],input[type="text"]{
    background-color: inherit;
}*/
input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance:none;
    height: 14px;
    width: 14px;
    background: url('../src/assets/icons/close.png') no-repeat center;
    background-size: contain;
}
.box {
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
}
.footer {
    font-family: "Open Sans", sans-serif;;
}
.footer .number {
    font-family: "Poppins", sans-serif;;
}
* {
    --tw-ring-color: rgb(0 0 0 / 0) !important;
  }
 
input:focus{
    
    border-color: black !important;
    border-width: 2px;
    box-shadow: none !important;
}
select{
    border-color: #ccc;
    
}
select:focus{
    
    border-color: black !important;
    border-width: 2px;
    box-shadow: none !important;
}
.number input , .password input {
    border: 1px solid #ccc;
}
.number input:focus ,.password input:focus {
    outline-color: #000;
}

.nav input {
    border: none;
}
.nav input:focus{
   outline: none;
}
.sign input:focus{
    outline: auto;
}

a:-webkit-any-link:focus-visible {
    outline:none;
}
div :focus-visible {
    outline: none;
}
.store .date input:focus {
    border-color: #ccc !important;
    border-width: 2px;
    box-shadow: none !important;
}


.swiper-button-next {
    position: absolute;
    top: 0;
}

.shop p {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    animation: typing 2s steps(40) infinite alternate-reverse;
   animation-delay: 1s;
}
@keyframes typing {
    from{
     width: 0%;
    }
}
.otp input[type="text"]{
    background-color: white;
}